#sidebar{
	padding: 15%;
	background-color: rgb(132, 29, 213);
	color: white;
}

#sidebar h2{
	font-size: 16px;
	margin-bottom: 15%;
}

#sidebar li{
	padding:5%;
	cursor: pointer;
}

#sidebar li:hover{
	background-color: black;
}

#sidebar li.active {
	background-color: rgb(219, 169, 19);
}
